@import "utils";

.comment {
  @include no-bg;

  .comment-content {
    @include dark_box;
    @include rounded;
  }

  .folding {
    background: url($folds-icon) 0 0;

    &.folded {
      background-position: -13px 0;
    }
  }

  .comment-info {
    li {
      a {
        &.reply-link {
          text-decoration: underline !important;
          border: none;
        }
      }
      &.comment-hide a {
        color: $aluminium-dark !important;
      }
    }
  }

  &.comment-new {
    .comment-content {
      background: $green-darkest !important;
    }
  }

  &.comment-self {
    .comment-content {
      background: $red-grey-dark !important;
      border: $red-grey-light;
    }
  }

  &.comment-current {
    .comment-content {
      background: $green-gray-dark !important;
      border-color: $green-gray-light;
    }
  }
}

.comment-author a {
  @include text-color;
  text-decoration: none;
}

.comment-preview {
  background: $grey-light !important;
  border-color: $grey-lightest;
  @include rounded;
}