@import "../utils/colors";
@import "../utils/mixins";

.comment {
  @include no-bg;

  .comment-content {
    border-color: $slate;
  }

  .comment-info {
    li {
      height: 0.9em;
    }
  }
}

.comment.comment-new {
  .comment-content {
    background: $chameleon-dark;
    border-color: $chameleon-shadow;
  }
}

.comment.comment-self {
  .comment-content {
    background: $scarlet-red-dark;
    border-color: $scarlet-red-shadow;
  }
}

.comment.comment-current {
  .comment-content {
    background: $slate;
    border-color: $slate-highlight;
  }
}

.comment-author a {
  color: $aluminium-highlight !important;
  text-decoration: none;
}
