@import "../utils/mixins";

.comment {
  @include no-bg;

  .comment-content {
    @include no-bg;
    border-color: $slate;
  }

  .comment-info {
    li {
      height: 0.8em;
    }
  }

  .comment-new {
    .comment-content {
      @include no-bg;
      border-color: $chameleon-shadow;
    }
  }

  .comment-self {
    .comment-content {
      @include no-bg;
      border-color: $scarlet-red-shadow;
    }
  }

  .comment-author a {
    color: $aluminium-highlight !important;
    text-decoration: none;
  }
}
