@import "utils";

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.block .block-update {
  &, &:hover {
    width: 16px !important;
    height: 16px !important;
    background: url($rotator-icon);
    background-size: 16px !important;
  }
  &.active {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}

.toolbar {
  section {
    margin: 0;
  }
  .toolbar-update .update-comments {
    i {
      background: url($rotator-icon);
    }
    &.active i {
      background: url($rotator-icon);
      -webkit-animation: spin 2s infinite linear;
      animation: spin 2s infinite linear;
    }
  }
}

.strength {
  color: $sand !important;
}

.rating {
  color: $green-medium !important;
}

span.dice {
  span {
    &.blue {
      color: $blue;
    }
    &.red {
      color: $sand;
    }
    &.green {
      color: $green-light;
    }
  }
}

.modal {
  @include dark_box;
  @include text-color;
  &.modal-write {
    .write-list li {
      width: 100px;
      .write-item-image {
        width: 64px;
        height: 70px;
        background-position: 0 0 !important;
        @include morph(opacity);
        & {
          opacity: 0.4;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      &.write-item-type-message .write-item-image {
        background: url($message-icon) no-repeat;
      }
      &.write-item-type-blog .write-item-image {
        background: url($blog-icon) no-repeat;
      }
      &.write-item-type-file .write-item-image {
        background: url($file-icon) no-repeat;
      }
      &.write-item-type-topic .write-item-image {
        background: url($topic-icon) no-repeat;
      }
      &.write-item-type-draft {
        padding-right: 0;
        border-right: none !important;
        & .write-item-image {
          background: url($draft-icon) no-repeat;
        }
      }
    }
  }
}

.toolbar {
  i {
    width: auto;
    height: 20px;
    @include morph(opacity);
    & {
      opacity: 0.4;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  .toolbar-topic a {
    &.toolbar-topic-prev i {
      margin-bottom: 10px;
      background: url("http://akushnir.dev.uaprom/arr_up.png") no-repeat !important;
    }
    &.toolbar-topic-next i {
      margin-top: 10px;
      background: url("http://akushnir.dev.uaprom/arr_down.png") no-repeat !important;
    }
  }
}

#widemode {
  @include grey_box;
  a {
    text-decoration: none !important;
    color: $sand !important;
  }

  #up-switch, #down-switch {
    @include no-bg;
    width: 16px;
    height: inherit;
    vertical-align: inherit;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
  }

  #up-switch::before {
    content: "⇑";
  }
  #down-switch::before {
    content: "⇓";
  }
}

.edit {
  a, span {
    color: $sand !important;
  }
}

.delete {
  a, span {
    color: $red !important;
  }
}

.icon-synio-actions-edit, .icon-synio-actions-delete {
  @include hidden;
}