@import "colors";

@mixin text-color {
  color: $aluminium !important;
}

@mixin dark-bg {
  background: $grey-darkest;
}

@mixin no-bg {
  background: none!important;
}

@mixin inh-bg {
  background: inherit !important;
}

@mixin hidden {
  display: none !important;
}

@mixin darkboxed {
  background: $grey-dark !important;
  border-color: $grey-medium !important;
}

@mixin greyboxed {
  background: $grey-medium;
  border-color: $grey-light !important;
}

@mixin rounded {
  border-radius: 0.4em;
}

@mixin padded {
  padding: 0.4em;
}