@import "utils";

.profile-dotted-list {
  li {
    span, strong {
      @include inh-bg;
    }
  }
}
.profile-info-about{
  @include text-color;
}

.block-type-profile-nav {
  li {
    border-bottom: none!important;
    a {
      color: $blue !important;
      text-decoration: none!important;
    }
  }
}
section.block-type-profile {
  @include inh-bg;
}

.form-profile .wrapper-content, .upload-photo, .profile-page-header {
  @include dark_box;
}