@import "utils";

aside {
  a {
    &, &:visited {
      color: $aluminium-dark !important;
    }
    &.author {
      &, &:visited {
        color: $blue !important;
      }
    }
  }
  span.block-item-comments {
    color: $green-light !important;
  }
  section, #block_blogs {
    @include dark_box;
    @include rounded;
    border-bottom: none !important;
    margin: 1em;
  }
  footer {
    @include inh-bg;
  }
}
