@import "../utils/colors";
@import "../utils/mixins";

aside {
  a {
    color: $aluminium-shadow !important;
  }
  section, #block_blogs {
    background: $slate !important;
    border-bottom: none !important;
    margin: 1em;
  }
  footer {
    background: inherit
  }
  section.running-ponies, section.block-type-pseudomenu {
    @include hidden;
  }
}
