@import "../utils/tango-colors";
@import "../utils/mixins";

aside a {
  color: $aluminium-shadow !important;
}

aside section, #block_blogs {
  background: $slate !important;
  border-bottom: none !important;
  margin: 1em;
}

aside section.running-ponies,
section.block-type-pseudomenu {
  @include hidden;
}

.napony img {
  opacity: 0.4 !important;
}