@import "utils";

.spoiler-title {
  @include grey_box;
}

.comment-current .comment-content .spoiler-title {
  @include dark_box;
}

.spoiler-gray {
  & {
    background: $grey-light;
    color: $grey-light;
  }
  &:hover {
    color: inherit;
  }
}