@import "mixins";
@import "colors";

.spoiler-title {
  @include greyboxed;
}

.comment-current .comment-content .spoiler-title {
  @include darkboxed;
}

.spoiler-gray {
  & {
    background: $slate;
    color: $slate;
  }
  &:hover {
    color: inherit;
  }
}