@import "utils";

.talk-search, #block_talk_search_content, .talk-blacklist-form {
  @include dark_box;
  header {
    border: none !important;
  }
  .talk-search-content {
    padding-top: 0;
    border: none;
  }
}