@import "colors";
@import "mixins";

h1, h2, h3, h4, h5, h6 {
  @include text-color;
}

a {
  &, &:visited {
    color: $sky-blue-light!important;
  }
  &:hover {
    color: $sky-blue-highlight !important;
  }
}

img {
  opacity: 0.8;
}

blockquote {
  @include text-color;
  background: $slate !important;
  border: 2px dashed $slate-highlight !important;
  border-left: 5px solid $aluminium-shadow !important;

}

pre, ul, li {
  @include inh-bg;
}

li.active {
  a, span {
    color: $chocolate-highlight !important;
  }
}

nav, .nav {
  a {
    text-decoration: none;
  }
}