@import "colors";
@import "mixins";

h1, h2, h3, h4, h5, h6 {
  @include text-color;
}

a {
  color: $sky-blue;
}

a:hover {
  color: $sky-blue-highlight !important;
}

img {
  opacity: 0.8;
}

blockquote {
  background: $slate-highlight !important;
}

pre, ul, li {
  @include inh-bg;
}

li.active {
  a, span {
    color: $chocolate-highlight !important;
  }
}

nav, .nav {
  a {
    text-decoration: none;
  }
}