$sky-blue: #3465a4;
$sky-blue-shadow: #204a87;

$grey-darkest: #2b2b2b;
$grey-dark: #313335;
$grey-medium: #3c3f41;
$grey-light: #555753;
$grey-lightest: #888a85;

$green-darkest: #2E3633;
$green-dark: #155221;
$green-medium: #246E00;
$green-light: #4e9a06;

$aluminium: #a9b7c6;
$aluminium-dark: #87929e;

$sand: #cc7832;
$red: #bc3f3c;

$blue: #287bde;
$blue-light: #5394ec;

$green-gray-dark: #3c4447;
$green-gray-light: #4f5659;

$red-grey-dark: #473c44;
$red-grey-light: #594f56;

@mixin text-color {
  color: $aluminium !important;
}

@mixin dark-bg {
  background: $grey-darkest;
}

@mixin no-bg {
  background: none!important;
}

@mixin inh-bg {
  background: inherit !important;
}

@mixin hidden {
  display: none !important;
}

@mixin dark_box {
  background: $grey-dark !important;
  border-color: $grey-medium !important;
}

@mixin grey_box {
  background: $grey-medium;
  border-color: $grey-light !important;
}

@mixin rounded {
  border-radius: 0.4em;
}

@mixin padded-low {
  padding: 0.4em;
}

@mixin padded-medium {
  padding: 0.6em;
}

@mixin morph($property) {
  transition: $property 0.3s;
}

$rotator-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfv
VzAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAKESURBVDjLdZQ7aFRBFIa/MzMmGP
LUGIsQH6jEFGKWJGiw8FEovhsLsRAUgrhqI9EqlZDadLFKsBEsIzYq2FiIL9yoQcFAHhtBJGKy9969bn
LvHovddbMxzmnm8X/z+OfMCBXlHQBabAkAXRUKKVfHgcjRQULbcEAks7xh0kWwl3EA9uJK8g/kLQmT1H
20SV2x02NKnusoEx/i2EhChbe2MPKJfKNcliEOyyapFopRLZulR46bkHk5J8Ms3HvhAL4QNZnbXKMOUG
Y0xQLQKD20YtnOIOclQQOOwpZiay5wnVrQOUZ1jLRkQWtkm5zhijSzkUOlrTuYJE7oLa0FxmWAJ/FywS
fx7Q+T0149stIlBziT1DZgTgeix4KyB4BJpyfp1/2VxjuQDunFoDrK0/aVju+Wfg6sNL4I2IS2AjOMxU
sVY1+lX85yiN00VQCmTeuAFLOVenL6yr3Ot3KAw3KQXdgSULi8BcL2Cv0OYFqZ46F7lN8pvZxgpgDw/7
INmCUf8rH+k/+A5cIZIgAaWb/oN6wBNRADS+r8GDBg0sYzmE67RddcRclvyV+ULreh2haA9+abwWw1Z6
lak6gyfTJsnsl9mgvAZ/vS5q2YS3I0JCD4qwwIyCLHTJ+tMY1m3vwE4BeZbm/aU0+9lH/KXxdSDr/KP+
2lPPXUm850/yrNlLXBtcAPNNAgHdwJu8KWbG22NmwJu4LB4HuggQaLwdWs/fviMrgmbsoNGgCVGYrpTa
duRYBFhvRutFhfPleWXH0umZta0n8jN5VL5uqzq634TWyXu6ORaCLKRFqMTDQRjSx3x/Z3OSXLyBKKc3
RIguInQFrf8zmKZIXfq5I3XtWlgK1Q/AF7ABwS1zBB0QAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNC0xMi
0wNlQxNzo1MDoyMy0wNTowMGf73T8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTQtMTItMDZUMTc6NTA6Mj
MtMDU6MDAWpmWDAAAAAElFTkSuQmCC";

$folds-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANAgMAAADK95Z
+AAAACVBMVEUAAAA8P0Gpt8b/KAcMAAAAAXRSTlMAQObYZgAAADBJREFUCNdjYA0NYQwNZWAQYGBkYW
BwAEKGACAPTDNhoZ1WLQhYtQKnPEw/zDyY+QBiQAunMlp2oAAAAABJRU5ErkJggg==";

$message-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4
HsAAAARVBMVEUAAAD///////////////////////////////////////////////////////////////
////////////////////////9SnXPCAAAAFnRSTlMAVap3Ac2REeAfaieZbF4Tw4gMAj7PgcVw1wAAAT
VJREFUWMPt1NGugjAQRdF6rwgIKoL2/z9VsWl2mpM4DvHJdB6MkuzVUgyhTp1fmuF/wwyB2R+iew77IM
LGfpifH8vo68flGc3pLnZNyx4867fNLgERwdfHDCD4egAETw+A4OsBEDw9gEOgF0AEoxdABLsHUMHuFU
CwewVsgV4BU6C/0AtgCPQKlMIlCXYPYAj09/gJ0PVhFcbi/bH2oe8sgL7cwzVdQlCA/vWaWvIeWH95vf
66dwDrn/KzYP22OeU9CKA9T5M+RgQBpEegj/GIUALaI9AjCFCc3zn/nOZVWM9vnvK1MydZAqx/LP/VrC
97AJAegV4FAO0R6FUA0J5zoFcBgPMTYeK7nCQA69vDHgDofUIG6H3C0CXgxv0bI+dwC2lY37kH6TcL/d
+G6UOdOnW+OA+/75LawA8sMwAAAABJRU5ErkJggg==";

$blog-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztA
AAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAq1XHOJ7PjfkAAABISURBVEjHYxgFR
ANBVOCAoSAUFShgKjBENgCLAlQhKihAAQQVoDtShIFBCQkohqLrCUK1nIn+CjDBqIJRBaMKRhXQUsEog
AIA3XxuIMG2zjAAAAAASUVORK5CYII=";

$file-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsA
AAAflBMVEUAAAD//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
//////////////////vroaSAAAAKXRSTlMACfrvAQT+z/UlDujCH+G7WjDXcmJFNxoVoVLItJuJa0yRP
xHcr6l6gAbmh18AAALDSURBVFjDzVfbkqowEEyAyEW5LIgiIuqy6Pb//+Bhwp4tTazK4NPOAyWpms7Mp
LuJ4o+F/Kh3zdvZQZuvAHibbfBWfpzjf4S7N/J3PuCNVVsc6Md2cX4dAWMqKIarB3wvzL94WFW/b20EV
Mvqj7A6P7x/Tu9LulAlUJkVee2CBoCTsVSs4NVsgCuQmmtnIGKf5glIrMU74H8wASqgfVnXOuYB7D0cl
U3tA/C15yHcXp67GoFw4JXgv5yYzIGjZCEUr/pVaXIEcsVC6IGyMfbvsnQogRsLIbgBYWKeTTnsM+DE8
ge5ATbSxDzKeA30gouQPyGojjAJgSfuJARGZWKOaudzxd2UwCEwMU8LxJ1mwPWZIBnVzxe33S+tVCTu6
JOF8EH9WmZViDNbmna/tUfW8s2TZpCK1oN3eVrcrqbdgxNHmrKb6rTN7Ey7a3E3DoAtkKWisvq9Uq6WZ
uKSFCHYZkb1l4PcuMX902lvTkyNlEu06hzSVDeSNeFkqUnqTs1UdSB0ZGOBxjFIPeXuNVUdCHpWqqOnS
ep+pipL1vPTJrWmKkPW+YuJ7XwiKUeaNKvRnpgmdcuS5v7r9cS0KGeqsozBnpgWpX7uGLK+U9c4W1Sdi
ZayjIEmVpjfyzAhooWSZQwXErdJtDFQOcOpa492t8xMhtRWs4bvUuZ8XvbEYh9rScp3G3WhzexuSJMWL
kL6OAhnbHX9vSHNlA5IlNi4Aeb6TTus9dlmyBkAszmp2+NNpfnCKhYx95OrzelR3EMI6v4A1Ow7ZJbqb
3+jBxASFk0nFLyYJ0Di9vuiuEYTUiKqabpPtuu2ySHHT9xk0MNQNMMmk6AIgQmqEOoERBexIGQ+337Su
o6nt9GhZsftZ38E1nb/DJsMNRvbNVDGYnE0dAr39rwBkA/ijUg6zBHdlXgrgm1G6Qe7fD7E9L9Yir8X/
wAgiF2Zz0oS4gAAAABJRU5ErkJggg==";

$topic-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2zt
AAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRS
TlMAVU9J8vo4HufPtSoFcjoelAAAAH9JREFUSMdjGDSAfcldJBCIqeDkXWRwVQBDQS5QGK8RsqgKrhoQ
UHA3CFMBuhEEFNx1JqTgigEBBXfdCCm4koBXAcIIhAJMIwgouNtNSMGNDQQU3G0npODiUFBwaVTBqAKq
Krg8qmCYKsjFpuA2aqWGCSYgV4tLMeW9ChgGCwAAd67Jn4x1AW8AAAAASUVORK5CYII=";

$draft-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4Hs
AAAAY1BMVEUAAAD/////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////+aRQ2gAAAAIHRSTlMA
Ioju3rrMAeUS+tp7MyzDmXFfQQWESgqtj2bSx6JV9KltGL0AAAGXSURBVFjD7dXJjoJAEAbgRvZlZJFt
QPF//6ecaNouqofEqsxlDn4nO5ICasN8fPjyMjoUHkBkDsSQy8yB7q8B8gIowp2IlMkOBfCUwNW8l/IA
VeyEQCkIMGF/3UXwbp4cQOJOIxjJE5wBxO70BaY2b9iHvrHnIfQHOSz3QCktsNcKApwAdHTMsPclCBDz
6xJWhFTQBiFQ9CweaYRFuBpyw84oCNACqAwZQMJeECDxUtWCfMvegG+DDeQsCDDQjbxhkI1in/nFDuB0
wjas/eG0wknQBCWAzTB3aoJgOL3RPHN9elheJYuojRtoXGyA2p5X+ilBNZvtuaLBEglfc9O4gDkUaClV
eIpoO4nQPCyujTtlDq3RDeIAhWLy1mpO6RSpqZfdPl+hMNB4vHLaF7oUOKHNYaBMgbPaomy6FJDYfhBO
UKj8tbrYQFJn70uD9rHv5SJ/T2NeWig0fEvpjXytqt0nvunVYrOXQ23hm7ZQv0FumAhKs+ESfQ24GTpr
argGOpvxVFC5psYTZFCoc/NLHyik5uN/+QGTQ9znv7EYlwAAAABJRU5ErkJggg==";

$arrow-up-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAgCAMAAADKf
sO6AAAAQlBMVEUAAAD//////////////////////////////////////////////////////////////
/////////////////////8IX9KGAAAAFXRSTlMApRj68tOykW9ePjME5eQqIQ0Mv72wOc+QAAAAZUlEQ
VQoz72Q2wqAIBBEU0tLu9f8/69WEiy7CQWV5/G8nGGKL9E6Za1NyAbwFzl1QNVK67BTCzmYw5YiuCCiR
OrE81SEBx0iPDgashS0JCkYwAhsh1JPf5j7lz+stz9QKssPv7EBkiUPQE1L4HUAAAAASUVORK5CYII=";

$arrow-down-icon: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAgCAMAAAD
KfsO6AAAAQlBMVEUAAAD////////////////////////////////////////////////////////////
///////////////////////8IX9KGAAAAFXRSTlMApRj68tOykW9ePjME5eQqIQ0Mv72wOc+QAAAAYUl
EQVQoz72QyQ6AIBDFBlBccF/+/1e9OCl4QyM9kYZMkyc/Es6EcGsfS6OfF4esrCgNtuXyNqmsB4FObS8
xB6mI2T1SBEkRJJUGSYExhXZYx5wd9vc7EMzZwXveYEl95wJYjg9AuTGZDAAAAABJRU5ErkJggg==";
