$sky-blue: #3465a4;
$sky-blue-shadow: #204a87;

$grey-darkest: #2b2b2b;
$grey-dark: #313335;
$grey-medium: #3c3f41;
$grey-light: #555753;
$grey-lightest: #888a85;

$green-darkest: #2E3633;
$green-dark: #155221;
$green-medium: #246E00;
$green-light: #4e9a06;

$aluminium: #a9b7c6;
$aluminium-dark: #87929e;

$sand: #cc7832;
$red: #bc3f3c;

$blue: #287bde;
$blue-light: #5394ec;

$green-gray-dark: #3c4447;
$green-gray-light: #4f5659;

$red-grey-dark: #473c44;
$red-grey-light: #594f56;

@mixin text-color {
  color: $aluminium !important;
}

@mixin dark-bg {
  background: $grey-darkest;
}

@mixin no-bg {
  background: none!important;
}

@mixin inh-bg {
  background: inherit !important;
}

@mixin hidden {
  display: none !important;
}

@mixin dark_box {
  background: $grey-dark !important;
  border-color: $grey-medium !important;
}

@mixin grey_box {
  background: $grey-medium;
  border-color: $grey-light !important;
}

@mixin rounded {
  border-radius: 0.4em;
}

@mixin padded-low {
  padding: 0.4em;
}

@mixin padded-medium {
  padding: 0.6em;
}

@mixin morph($property) {
  transition: $property 0.3s;
}

$rotator: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAA
AAmJLR0QA/4ePzL8AAAAJcEhZcwAAAEgAAABIAEbJaz4AAAKESURBVDjLdZQ7aFRBFIa/MzMmGPLUGIs
QH6jEFGKWJGiw8FEovhsLsRAUgrhqI9EqlZDadLFKsBEsIzYq2FiIL9yoQcFAHhtBJGKy9969bnLvHov
ddbMxzmnm8X/z+OfMCBXlHQBabAkAXRUKKVfHgcjRQULbcEAks7xh0kWwl3EA9uJK8g/kLQmT1H20SV2
x02NKnusoEx/i2EhChbe2MPKJfKNcliEOyyapFopRLZulR46bkHk5J8Ms3HvhAL4QNZnbXKMOUGY0xQL
QKD20YtnOIOclQQOOwpZiay5wnVrQOUZ1jLRkQWtkm5zhijSzkUOlrTuYJE7oLa0FxmWAJ/FywSfx7Q+
T0149stIlBziT1DZgTgeix4KyB4BJpyfp1/2VxjuQDunFoDrK0/aVju+Wfg6sNL4I2IS2AjOMxUsVY1+
lX85yiN00VQCmTeuAFLOVenL6yr3Ot3KAw3KQXdgSULi8BcL2Cv0OYFqZ46F7lN8pvZxgpgDw/7INmCU
f8rH+k/+A5cIZIgAaWb/oN6wBNRADS+r8GDBg0sYzmE67RddcRclvyV+ULreh2haA9+abwWw1Z6lak6g
yfTJsnsl9mgvAZ/vS5q2YS3I0JCD4qwwIyCLHTJ+tMY1m3vwE4BeZbm/aU0+9lH/KXxdSDr/KP+2lPPX
Um850/yrNlLXBtcAPNNAgHdwJu8KWbG22NmwJu4LB4HuggQaLwdWs/fviMrgmbsoNGgCVGYrpTaduRYB
FhvRutFhfPleWXH0umZta0n8jN5VL5uqzq634TWyXu6ORaCLKRFqMTDQRjSx3x/Z3OSXLyBKKc3RIguI
nQFrf8zmKZIXfq5I3XtWlgK1Q/AF7ABwS1zBB0QAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNC0xMi0wNlQ
xNzo1MDoyMy0wNTowMGf73T8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTQtMTItMDZUMTc6NTA6MjMtMDU
6MDAWpmWDAAAAAElFTkSuQmCC";

$folds: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANAgMAAADK95Z+AAAAC
VBMVEUAAAA8P0Gpt8b/KAcMAAAAAXRSTlMAQObYZgAAADBJREFUCNdjYA0NYQwNZWAQYGBkYWBwAEKGA
CAPTDNhoZ1WLQhYtQKnPEw/zDyY+QBiQAunMlp2oAAAAABJRU5ErkJggg==";