$sky-blue: #3465a4;
$sky-blue-shadow: #204a87;

$grey-darkest: #2b2b2b;
$grey-dark: #313335;
$grey-medium: #3c3f41;
$grey-light: #555753;
$grey-lightest: #888a85;

$green-darkest: #2E3633;
$green-dark: #155221;
$green-medium: #246E00;
$green-light: #4e9a06;

$aluminium: #a9b7c6;
$aluminium-dark: #87929e;

$sand: #cc7832;
$red: #bc3f3c;

$blue: #287bde;
$blue-light: #5394ec;

$green-gray-dark: #3c4447;
$green-gray-light: #4f5659;

$red-grey-dark: #473c44;
$red-grey-light: #594f56;

@mixin text-color {
  color: $aluminium !important;
}

@mixin dark-bg {
  background: $grey-darkest;
}

@mixin no-bg {
  background: none!important;
}

@mixin inh-bg {
  background: inherit !important;
}

@mixin hidden {
  display: none !important;
}

@mixin dark_box {
  background: $grey-dark !important;
  border-color: $grey-medium !important;
}

@mixin grey_box {
  background: $grey-medium;
  border-color: $grey-light !important;
}

@mixin rounded {
  border-radius: 0.4em;
}

@mixin padded {
  padding: 0.4em;
}

@mixin morph($property) {
  transition: $property 0.3s;
}