@import "colors";

@mixin text-color {
  color: $aluminium;
}

@mixin dark-bg {
  background: $slate-shadow;
}

@mixin no-bg {
  background: none;
}

@mixin hidden {
  display: none !important;
}

@mixin shadowboxed {
  background: $slate-dark !important;
  border-color: $slate !important;
  border-radius: 0.4em;
}

@mixin padded {
  padding: 0.5em;
}