@import "colors";

@mixin text-color {
  color: $aluminium !important;
}

@mixin dark-bg {
  background: $slate-shadow;
}

@mixin no-bg {
  background: none;
}

@mixin hidden {
  display: none !important;
}

@mixin darkboxed {
  background: $slate-dark !important;
  border-color: $slate !important;
}

@mixin lightboxed {
  background: $slate-highlight !important;
  border-color: $slate !important;
}

@mixin rounded {
  border-radius: 0.4em;
}

@mixin padded {
  padding: 0.4em;
}