$aluminium: #d3d7cf;
$aluminium-highlight: #eeeeec;
$aluminium-shadow: #babdb6;
$butter: #edd400;
$butter-highlight: #fce94f;
$butter-shadow: #c4a000;
$chameleon: #73d216;
$chameleon-highlight: #8ae234;
$chameleon-shadow: #4e9a06;
$orange: #f57900;
$orange-highlight: #fcaf3e;
$orange-shadow: #ce5c00;
$chocolate: #c17d11;
$chocolate-highlight: #e9b96e;
$chocolate-shadow: #8f5902;
$sky-blue: #3465a4;
$sky-blue-highlight: #729fcf;
$sky-blue-shadow: #204a87;
$plum: #75507b;
$plum-highlight: #ad7fa8;
$plum-shadow: #5c3566;
$slate: #555753;
$slate-highlight: #888a85;
$slate-shadow: #2e3436;
$scarlet-red: #cc0000;
$scarlet-red-highlight: #ef2929;
$scarlet-red-shadow: #a40000;